<h1 align="center">Avaliable <%= @genre.name %> Movies</h1>
<%movie_list = Movie.all.select { |movie| movie.genre_id.include?(@genre.id) }%>
<div class="card_padding">
  <div class="ui four doubling cards">
    <% movie_list.each do |movie| %>
      <div class="card">
        <img src=<%= movie.poster%> height="200">
        <div class="content">
          <div class="ui centered header">
            <%= movie.title %>
          </div>
        </div>
        <%= button_to "See Movie Info", movie_path(movie.id), {method: :get, class: "fluid ui black button"}  %>
      </div>
    <% end %>
  </div>
</div>
